body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

#container {
    flex: 1;
}

.navbar {
    height: 5rem;
    position: relative;
}

@media (max-width: 768px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--bs-body-bg);
    z-index: 1050;
    padding: 1rem;
  }
}


.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links {
    width: 100%;
}

.f-info-socials {
    width: 100%;
}

.f-info-socials i {
    margin: 0.6rem;
    font-size: 1.3rem;

}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body{
    padding: 0rem;
}

.listing-link {
    text-decoration: none;
}

.listing-card-img-overlay {
    opacity: 0;
}
.listing-card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.listing-card:hover{
    transform: scale(1.02);
}

.add-btn, .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.show-img{
    height: 30vw;
}

.show-card {
    padding: 0;
}

.show-card:hover{
    transform: scale(1) !important;
}

.review-card {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}