<nav>
    <div class="container categories">
        <a href="/listings/search?category=Trending" class="category">
            <i class="fa-solid fa-fire"></i>
            <p>Trending</p>
        </a>
        <a href="/listings/search?category=Mountains" class="category">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountains</p>
        </a>
        <a href="/listings/search?category=Forest" class="category">
            <i class="fa-solid fa-tree"></i>
            <p>Forest</p>
        </a>
        <a href="/listings/search?category=Hotels" class="category">
            <i class="fa-solid fa-bed"></i>
            <p>Hotels</p>
        </a>
        <a href="/listings/search?category=Snow" class="category">
            <i class="fa-solid fa-snowflake"></i>
            <p>Snow</p>
        </a>
        <a href="/listings/search?category=Beach" class="category">
            <i class="fa-solid fa-umbrella-beach"></i>
            <p>Beach</p>
        </a>
    </div>
</nav>