<footer class="f-info mt-5">
  <div class="f-info-socials mt-3">
    <a href="https://www.linkedin.com/in/pankaj-joshi-892ab5370/" target="_blank" aria-label="LinkedIn">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://github.com/PankajJoshi-dev" target="_blank" aria-label="GitHub">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>

  <div class="mt-2">
    &copy; <%= new Date().getFullYear() %> WanderPad
  </div>
</footer>